@import "variables";
@import "mixins";
@import "project-details";

// body start
body {
  font-family: "Martian Mono", monospace;
}
// body end

// navbar start
nav {
  background-color: #f1f1f1;
  .navbar-toggler {
    &:focus {
      box-shadow: none;
    }
    .navbar-toggler-icon {
      @include button;
      width: 80px;
    }
  }
  .navbar-collapse {
    .navbar-nav {
      a {
        button {
          @include button;
          width: 200px;
        }
      }
    }
  }
}
// navbar end

// background
header {
  background-image: url(../images/background-image.jpg);
  height: 20vh;
  padding: 16px 0px;
  background-size: cover;
  width: 100%;
  img {
    width: 80px;
    border-radius: 10px;
    border: 3px solid #0081a9;
    margin-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

section.about-me {
  p.anim--wave {
    .letter {
      font-size: 12px;
      color: #000;
      text-transform: uppercase;
      display: inline-block;
      animation: sine-wave 1s infinite alternate;
      &:nth-of-type(1) {
        animation-delay: 0.1;
      }
      &:nth-of-type(2) {
        animation-delay: 0.2s;
      }
      &:nth-of-type(3) {
        animation-delay: 0.3s;
      }
      &:nth-of-type(4) {
        animation-delay: 0.4s;
      }
      &:nth-of-type(5) {
        animation-delay: 0.5s;
      }
      &:nth-of-type(6) {
        animation-delay: 0.6s;
      }
      &:nth-of-type(7) {
        animation-delay: 0.7s;
      }
      &:nth-of-type(8) {
        animation-delay: 0.8s;
      }
      @keyframes sine-wave {
        0% {
          transform: translateY(-0.15em);
        }
        to {
          transform: translateY(0.15em);
        }
      }
    }
  }
  a {
    button {
      @include button;
    }
  }
  @include text;
  width: 100%;
  padding: 16px;
}

// skills-start
section.skills {
  margin-bottom: 40px;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: 2s linear;
  padding: 15px 9%;
  h1.heading {
    text-align: center;
    padding: 20px 0;
    color: #0081a9;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    font-size: 30px;
  }
  main.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
    div.box {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      background: #fff;
      text-align: center;
      padding: 30px 20px;
      &:hover {
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
        transform: scale(1.03);
      }
      img {
        height: 80px;
      }
      h3 {
        color: #444;
        font-size: 22px;
        padding: 10px 0;
      }
      p {
        color: #777;
        font-size: 15px;
        line-height: 1.8;
      }
    }
  }
}
// skills-end

// Qualifications-start
section.Qualifications {
  width: 100%;
  display: grid;
  place-items: center;
  div.row {
    h1.section-heading {
      text-align: center;
      color: #0081a9;
      text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      font-size: 30px;
      padding: 30px 0;
    }
    display: flex;
    flex-wrap: wrap;
    div.column {
      width: 100%;
      padding: 0 1em 1em 1em;
      text-align: center;
      div.card {
        width: 100%;
        height: 100%;
        padding: 2em 1.5em;
        background: linear-gradient(#ffffff 50%, #2c7bfe 50%);
        background-size: 100% 200%;
        background-position: 0 2.5%;
        border-radius: 5px;
        box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        transition: 0.5s;
        .icon-wrapper {
          background-color: #2c7bfe;
          position: relative;
          margin: auto;
          font-size: 30px;
          height: 2.5em;
          width: 2.5em;
          color: #ffffff;
          border-radius: 50%;
          display: grid;
          place-items: center;
          transition: 0.5s;
          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
        }
        h3 {
          font-size: 18px;
          font-weight: 600;
          color: #1f194c;
          margin: 1em 0;
        }
        p {
          color: #575a7b;
          font-size: 14px;
          line-height: 1.6;
          letter-spacing: 0.03em;
        }
        p {
          .tools {
            font-size: 12px;
          }
        }
        &:hover {
          background-position: 0 100%;
          .icon-wrapper {
            background-color: #ffffff;
            color: #2c7bfe;
          }
          h3 {
            color: #ffffff;
          }
          p {
            color: #f0f0f0;
          }
        }
      }
    }
  }
}
// Qualifications-end

// Projects-start
section.projects {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: 2s linear;
  padding: 15px 9%;
  h1.heading {
    text-align: center;
    padding-bottom: 60px;
    color: #0081a9;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    font-size: 30px;
  }
  main.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 20px;
    padding-bottom: 50px;
    div.box {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      background: #fff;
      text-align: center;
      padding: 30px 20px;
      &:hover {
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
        transform: scale(1.03);
      }
      img {
        height: 80px;
      }
      h3 {
        color: #444;
        font-size: 16px;
        padding: 10px 0;
      }
      p {
        color: #777;
        font-size: 10px;
        line-height: 1.8;
      }
      .btn {
        margin-top: 10px;
        display: inline-block;
        background: #333;
        color: #fff;
        font-size: 17px;
        border-radius: 5px;
        padding: 8px 25px;
        &:hover {
          letter-spacing: 1px;
        }
      }
    }
  }
}
// Projects-end

// footer-end
footer {
  .pt-4 {
    padding-bottom: 10px;
    .contact {
      color: #0081a9;
    }
    div.mb-4 {
      .social-media-list {
        position: relative;
        font-size: 15px;
        text-align: center;
        width: 50%;
        margin: auto;
        padding: 0;
        li {
          position: relative;
          display: inline-block;
          width: 30px;
          height: 30px;
          margin: 10px 3px;
          line-height: 30px;
          border-radius: 50%;
          color: #fff;
          background-color: #0081a9;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          .social-media-list li:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 30px;
            height: 30px;
            line-height: 60px;
            border-radius: 50%;
            opacity: 0;
            box-shadow: 0 0 0 1px #fff;
            transition: all 0.2s ease-in-out;
          }
          a {
            color: #fff;
          }
          &:hover {
            a {
              color: #000;
            }
            background-color: #fff;
            &::after {
              opacity: 1;
              transform: scale(1.12);
              transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
            }
          }
        }
      }
    }
    .up {
      @include button;
      margin-left: auto;
      margin-right: auto;
      .nav-link {
        display: inline;
      }
    }
  }
}
// footer-end

// Media Query
// Qualifications
@media screen and (min-width: 768px) {
  section.Qualifications {
    padding: 0 2em;
  }
}
@media screen and (min-width: 992px) {
  section.Qualifications {
    padding: 1em 3em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
